body {
	padding-top: 3.125em;
    background-image: url(images/7483010074_82422bd167_b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background position: center center;
    background-size: cover;
    align-content: center;
}

.mainpage {
    background-color: white;
    opacity: 0.9;
    width: 80%;
    height: 120%;
    padding: 10px;
    float: left;
    margin:auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 30px;
    position: relative;
}
#logo {
    width: 100px;
    height: 141px;
}
.links img:hover {
    cursor: pointer;
}
.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 100px;
}
.links li {
    display: inline;
}
.links a {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    font-family: sans-serif;
    color: #aac2b9;
    text-decoration: none;   
    font-size: 15pt;
}
.links a:hover {
    color: #5f3813;
    cursor: pointer;
    text-decoration: underline;
}
.promotions {
    width: 600px;
    height: 200px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 100px;
}
#promophoto1 {
    width: 300px;
    height: 200px;
}
#bottompage {
    text-align: left;
    margin-top: 60px;
    float:left;
}
div {
        text-align: center;
        margin: 0px auto;
      }
#imagecenter{ 
	display: block;
        margin-left: auto;
        margin-right: auto;
}
.menu {
	display:inline-flex;
	margin-top: 60px;
	margin-bottom: 100px;
	float: left;
	clear: left;
}
.aboutus {
	margin-top: 50px;
    	border-style: dashed;
    	border-color: antiquewhite;
}
#gallery {
transform:translateX(-10);
}
