nav{
    width: 100%;
    height: 500px;
    text-align: center;
    background: url(IMAGES/coffee1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 260px;
    
}
nav li {
    display: inline;
    margin: 30px;
}
nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15pt;
}
section {
    margin-left: auto;
    margin-right: auto;
    display: block;
}




