body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: #aac2b9;
    position: relative;
}
nav ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
nav li {
    display: inline;
    margin: 30px;
}
nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15pt;
}
.body1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
#section1 {
    display: block;
    float: left;
    width: 100%;
    height: 90%;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}
.promotions {
    background-color: white;
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.promophoto {
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 0 20px 20px;
    position: absolute;
    float: left;
}
.promotext{
    float: right;
    margin: 20px;
    width: 240px;
}
article {
    width: 100%;
    height: auto;
    background-image: url(https://cloud.githubusercontent.com/assets/15840093/11381551/7f865aec-92b1-11e5-8fec-be2a3afdc814.jpg);
    float: left;
}
#subscribe {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
    text-shadow: 3px 3px 1px rgba (0, 0, 0, 1);
}
.form {
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    opacity: 1.0;
    text-shadow: 3px 3px 1px rgba (0, 0, 0, 1);
}
footer {
    width: 100%;
    height: 200px;
    background-color: white;
    float: left;
}
.quicklinks {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    height: auto;
}
#aboutus {
    float: left;
    margin: 50px;
    text-align: left;
}
#online {
    float: left;
    margin: 50px;
    text-align: left;
}
footer a {
    text-decoration: none;
    color: black;
    text-align: left;
}



/******************************CSS for MENU page*********************************/
.menusection {
    margin: 30px;
}
.menusub {
    width: 15%;
    margin-left: 25%;
    margin-right: 60%;
    font-size: 35pt;
    padding: 15px;
    clear: both;
}
.menu {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    display: block;
    float: left;
}

.menuphoto img {
    margin: 10px;
}

/******************************CSS for GALLERY page*********************************/


.gallery {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 15px;
    display: block;
    float: left;
}
.img-circle {
    border-radius: 50%;
}
.galleryspace img { 
    margin:20px;
}

/******************************* MEDIA QUERIES***********************************/

/*********************************** for 1110px or less **************************/
    @media screen and (max-width: 1110px) {
        .promotions {
            width: 440px;
            height: 440px;
            display: block;
        }
        .promophoto {
            margin: 20px;       
        }
        .promotext {
            margin-top: 300px;
            width: 400px;
        }
    }   
/*********************************** for 980px or less **************************/
      @media screen and (max-width: 980px) {

        * { font-size: 1.0rem; }

        nav {
            height: 200px;
        }
        nav ul {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        nav li {
            margin: auto;
        }
        #section1 {
            height: auto;
        }
        .promotions {
            width: 440px;
            height: 440px;
            display: block;
            margin: 30px auto 30px auto;
        }
        .promophoto {
            margin: 20px;       
        }
        .promotext {
            margin-top: 300px;
            width: 400px;
        }
        #section1 {
            width: auto;
            float: none;
            height: 1880px;
        }
        #sidebar {
            width: auto;
            height: auto;
            float: none;
        }
        

/************************************ for 700px or less *************************/
      @media screen and (max-width: 700px) {

        * { font-size: 0.9rem; }

        nav {
            width: auto;
            height: 350px;
        }
        nav li {
            display: block;
        }
        #section1 {
            width: auto;
            float: none;
        }
        article {
            height: 300px;
        }
      }


/*********************************** for 480px or less *************************/
      @media screen and (max-width: 470px) {

        * { font-size: 0.8rem; }
        .promotions {
            width: 440px;
            height: 440px;
            display: block;
        }
        .promophoto {
            margin: 20px;       
        }
        .promotext {
            margin-top: 300px;
            width: 400px;
        }
      }

